.pagination-links{
    margin: 25px 0;
    display: flex;
    list-style: none;
    justify-content: center;
  }
  
.pagination-links li{
  display: inline-block;
  padding: 0 5px;
  cursor: pointer;
  border-right: 2px solid darkgray;
}
.pagination-links span{
    padding: 4px 6px;
    background-color: gray;
}

.pagination-links li:last-child{
  border: none;
}
  
.pagination-links li span:hover, .pagination-links li.active span{
  background-color: darkslategray;
  color: #fff;
}