*{
  margin: 0;
  padding: 0;
}
.App-header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav{
  display: flex;
}

h2{
  width: 30vw;  
}

nav ul {
  display: flex;
  box-sizing: border-box;
  list-style: none;
}

nav ul li {
  margin-right: 25px;
}

.links,.logo{
  color:#fff;
}
.active-link{
  color: aqua;
}

.content{
  text-align: center;
}

